@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>About Us Section</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="~css/style10.css">


</head>
<body>
    <div class="section">
        <div class="container">



            <div class="content-section">
                <div class="title">
                    <h1>About Us</h1>
                </div>
                <div class="content">
                    <h3>Since the pandemic started, online games became more popular as people sought ways to socialize and find pleasure while stuck at home. Gaming has easily become a social lifeline. However, because of the vast variety of games one can be interested in, it can be difficult to purchase credits for many games easily. Our solution aims to make this process centralized and efficient. Our team decided to make a website where you can directly purchase game codes online. Instead of going to game shops that are far away, you can just one tap it on our website.  Since our target audience are online gamers in the Philippines, the games that our website offers will reflect that. The current trending games in the Philippines will be the ones featured, and the available payment options in the Philippines (GCash, PayMaya, etc.) will be shown. In our website, there will be a home page, customer’s view page, order and payment details page, and a contact page. The customer will also be shown an invoice receipt.</h3>

                </div>
                
            </div>
            <div class="image-section">
                <img src="~/lib/images/img one.jpg" width="100%">
            </div>
        </div>
    </div>


</body>
</html>