@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">
        <div class=" col-2">
            <h1>Make your life easier <br>by purchasing your codes here !</h1>
            <p>Purchase your gaming codes here with cheaper prices </p>
            <a asp-controller="GCH" asp-action="Games" class="btn">Buy Codes Now </a>
        </div>

        <div class=" col-2">
            <img src="~/lib/images/image1.png">
        </div>
    </div>
</div>


<!-------- featured categoiries-------->

<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="~/lib/images/category-1.jpg">
            </div>

            <div class="col-3">
                <img src="~/lib/images/category-2.jpg">
            </div>

            <div class="col-3">
                <img src="~/lib/images/category-3.jpg">
            </div>
        </div>
        <!-------- featured Games------>
        <div class="small-container">
            <h2 class="title"> Featured Games </h2>
            <div class="row">
                <div class="col-4">
                    <img src="~/lib/images/game-1.jpg">
                    <h4>League of Legends</h4>
                    <a asp-controller="GCH" asp-action="Gamepurchase" class="btn">Buy Now </a>

                </div>
                <div class="col-4">
                    <img src="~/lib/images/game-2.jpg">
                    <h4>Valorant</h4>
                    <a asp-controller="GCH" asp-action="Gamepurchase2" class="btn">Buy Now </a>

                </div>
                <div class="col-4">
                    <img src="~/lib/images/game-3.jpg">
                    <h4>Apex Legends</h4>
                    <a asp-controller="GCH" asp-action="Gamepurchase3" class="btn">Buy Now </a>

                </div>
                <div class="col-4">
                    <img src="~/lib/images/game-4.jpg">
                    <h4>Cyber Punk 2077</h4>
                    <a asp-controller="GCH" asp-action="Gamepurchase4" class="btn">Buy Now </a>
                </div>
            </div>
        </div>


        <!------ Offer------>

        <div class="offer">
            <div class="small-container">
                <div class="row">
                    <div class="col-2">
                        <img src="~/lib/images/offer-1.png" class="offer-img">
                    </div>

                    <div class="col-2">
                        <p>A discount for the Glorious Mouse only in Game code hut</p>
                        <h1>Glorious Model O </h1>
                        <small>
                            Envisioned by a community of passionate gamers, and developed by a team who accepts nothing less than perfection -
                            Model O will elevate your play to unimaginable heights.
                        </small>

                        <a href="https://www.pcgamingrace.com/" class="btn"> Buy Now &#8594;</a>

                    </div>
                </div>
            </div>
        </div>

        <!------- brands------->
        <div class="brands">
            <div class="small-container">
                <div class="row">
                    <div class="col-5">
                        <img src="~/lib/images/logo2.png">
                    </div>

                    <div class="col-5">
                        <img src="~/lib/images/logo3.png">
                    </div>

                    <div class="col-5">
                        <img src="~/lib/images/logo4.png">
                    </div>

                    <div class="col-5">
                        <img src="~/lib/images/logo5.png">
                    </div>

                    <div class="col-5">
                        <img src="~/lib/images/logo6.png">
                    </div>
                </div>
            </div>
        </div>


        <!----------- footer ----------->

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col-1">
                        <h3> Download Our Application </h3>
                        <p> Download app for Android and ios mobile phone. </p>

                        <div class="app-logo">
                            <img src="~/lib/images/play-store.png">

                        </div>
                    </div>

                    <div class="footer-col-2">
                        <img src="~/lib/images/logo-red.png">

                    </div>

                    <div class="footer-col-3">
                        <h3> Useful links  </h3>
                        <ul>
                            <li> Coupons</li>
                            <li> Blog Post </li>
                            <li> Refund Policy</li>
                            <li> Join Affliliate </li>

                        </ul>
                    </div>

                    <div class="footer-col-4">
                        <h3> Follow us  </h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter </li>
                            <li> Instagram</li>
                            <li> Wechat </li>

                        </ul>
                    </div>

                </div>

                <hr>
                <p class="Copyright"> Copyright 2020 Game Code Hut</p>

            </div>
        </div>
        <!-------------- js for toggle menu----------->
        <script>
            var MenuItems = document.ElementById("MenuItems");

            MenuItems.style.maxHeight = "0px";
            function menutoggle() {
                if (MenuItems.style.maxHeight == "0px") {
                    MenuItems.style, maxHeight = "200px"
                }
                else {
                    MenuItems.style.maxHeight = "0px";
                }
            }
        </script>

    </div>
</div>